@use "src/styles/colors";

.EditorCourseList {
  width: 216px;
  height: calc(100vh - 64px - 48px);

  border-right: 1px solid colors.$material-stroke;

  .toolbar {
    display: flex;

    align-items: center;

    padding-left: 8px;
    padding-right: 8px;

    box-sizing: border-box;

    border-bottom: 1px solid colors.$material-stroke;

    height: 48px;
    width: 100%;

    .button {
      margin-left: auto;
    }
  }

  .courses {
    display: flex;
    flex-direction: column;

    max-height: calc(100% - 40px);
    box-sizing: border-box;

    gap: 8px;

    padding: 8px;

    overflow-y: scroll;
    overflow-x: hidden;
  }
}