@use "src/styles/colors";

.EditorToolbar {
  display: flex;
  align-items: center;

  padding-left: 8px;
  padding-right: 16px;

  gap: 16px;
  //justify-content: space-between;

  box-sizing: border-box;

  height: 48px;
  width: 100%;

  background-color: colors.$material-primary-text;
  border-bottom: 1px solid colors.$material-stroke;

  .group {
    display: flex;
    gap: 8px;

    margin-left: auto;
  }

}