@use "src/styles/colors";

.ScheduleEditor {
  height: calc(100vh - 64px);

  .editor {
    height: calc(100% - 48px);

    display: flex;

    gap: 32px;

    .timetables {

      display: flex;
      flex-direction: column;
      gap: 32px;

      margin-top: 32px;
      padding-right: 32px;

      max-width: calc(100% - 216px);
      overflow-y: scroll;
    }
  }
}