@use "../../../../styles/colors";

.timetableRow {
  height: 32px;
  font-size: 12px;

  .timetableRowCell {
    border-left: colors.$material-stroke 1px solid;
    border-right: colors.$material-stroke 1px solid;
  }
}