@use "../../styles/colors";

.Layout {
  .header {
    display: flex;
    align-items: center;

    gap: 8px;

    color: white;

    overflow: hidden;

    box-sizing: border-box;

    height: 64px;
    width: 100%;
    background-color: colors.$material-primary;

    padding: 0 16px 0 16px;

    h1 {
      font-size: 24px;
      font-weight: 600;
    }
  }
  .main {

  }
  .footer {

  }
}